# PostgreSQL - Question Service
QUESTION_DB= #enter your DBNAME
QUESTION_DB_USER= #enter your USERNAME
QUESTION_DB_PASSWORD= #enter your PASSWORD

# PostgreSQL - Quiz Service
QUIZ_DB=#enter your DBNAME
QUIZ_DB_USER=#enter your USERNAME
QUIZ_DB_PASSWORD=#enter your PASSWORD
